<link rel="stylesheet" href="./../../public/css/style.css">

<nav class="navbar nav-dark bg-dark">
    <a class="navbar-brand" href="/" >Início</a>
    <ul class="container">
        <li style="display:flex; flex-direction: row;" class="container" >
            <a style="color:red" class="nav-link" href="/admin/categories"> Categorias </a>
            <a class="nav-link" href="/articles/page/1"> Artigos </a>
            <a class="nav-link" href="/admin/users"> Usuários </a>
            <a class="nav-link" href="#" display="inline"> Fazer Login </a>
        </li>
    </ul>
</nav>