<nav class="navbar nav-dark bg-dark">
    <a class="navbar-brand" href="/" >Início</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories"> Categorias </a>
            <a class="nav-link" href="/articles/page/1"> Artigos </a>
        </li>
    </ul>
</nav>