<%- include('../../partials/navbar.ejs'); %>
<%- include('../../partials/header.ejs'); %>
<body>
    <div class="container">
        <div class="card">
            <h2>Cadastro de Usuário</h2>
<<<<<<< HEAD
            <form method="POST" action="/users/create">
=======
            <form method="POST" action="/admin/users/create">
>>>>>>> 2f6751af8238446528a9b5379a662360d8f01016
                <label>E-mail:</label><br/>
                <input class="form-control" name="email" type="email" >
                <label>Senha:</label><br/>
                <input class="form-control" name="password" type="password" >
                <button class="btn btn-success">Criar</button>
            </form>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs'); %>