<%- include('../../partials/navbar.ejs'); %>
<%- include('../../partials/header.ejs'); %>

<body>
    <div class="container">
        <div class="card">
            <h2>Login</h2>
            <form>
                <label>E-mail:</label><br/>
                <input class="form-control" name="email" type="email" id="email" >
                <label>Senha:</label><br/>
                <input class="form-control" name="password" type="password" id="password">
                <button>Logar</button>
            </form>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs'); %>